<?xml version="1.0"?>
<launch>
    <arg name="model"/>
    <arg name="gui" default="True"/>
    <!--    launch文件中加载参数服务器urdf文件与xacro文件不同-->
    <!--    加载urdf-->
    <!--    <param name="robot_description" textfile="$(find yt_robot_description)/urdf/yt_robot_urdf.xacro"/>-->
    <!--    加载xacro-->
    <param name="robot_description" command="$(find xacro)/xacro $(find yt_robot_description)/urdf/yt_robot.xacro"/>
    <param name="use_gui" value="True"/>

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yt_robot_description)rviz/rviz.rviz" required="true"/>
</launch>
