<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:property name="M_PI" value="3.1415926"/>

    <!-- v16雷达sensor -->
    <gazebo reference="v16_laser">
        <sensor name="v16_sensor_ray" type="ray">
            <visualize>false</visualize>
            <update_rate>5.5</update_rate>
            <ray>
                <scan display="true">
                    <horizontal>
                        <samples>500</samples>
                        <resolution>1.0</resolution>
                        <min_angle>2.64</min_angle>
                        <max_angle>3.64</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>16</samples>
                        <resolution>1</resolution>
                        <min_angle>-${15*M_PI/180.0}</min_angle>
                        <max_angle>${15*M_PI/180.0}</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>10.0</max>
                    <resolution>0.1</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="v16_gazebo_laser" filename="libgazebo_ros_laser.so">
                <robotNamespace>/test_robot</robotNamespace>
                <gaussianNoise>0.005</gaussianNoise>
                <alwaysOn>true</alwaysOn>
                <updateRate>20</updateRate>
                <topicName>/v16_laser_scan</topicName>
                <frameName>v16_laser</frameName>
            </plugin>
        </sensor>
    </gazebo>

    <!-- v3雷达1sensor -->
    <gazebo reference="v3_laser1">
        <sensor name="v3_1_sensor_ray" type="ray">
            <visualize>false</visualize>
            <update_rate>5.5</update_rate>
            <ray>
                <scan display="true">
                    <horizontal>
                        <samples>500</samples>
                        <resolution>1.0</resolution>
                        <min_angle>0.0</min_angle>
                        <max_angle>1.0</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>3</samples>
                        <resolution>1</resolution>
                        <min_angle>-${15*M_PI/180.0}</min_angle>
                        <max_angle>${15*M_PI/180.0}</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>10.0</max>
                    <resolution>0.1</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="v3_1_gazebo_laser" filename="libgazebo_ros_laser.so">
                <robotNamespace>/test_robot</robotNamespace>
                <gaussianNoise>0.005</gaussianNoise>
                <alwaysOn>true</alwaysOn>
                <updateRate>20</updateRate>
                <topicName>/v3_laser1_scan</topicName>
                <frameName>v3_laser1</frameName>
            </plugin>
        </sensor>
    </gazebo>

    <!-- v3雷达2sensor -->
    <gazebo reference="v3_laser2">
        <sensor name="v3_2_sensor_ray" type="ray">
            <visualize>false</visualize>
            <update_rate>5.5</update_rate>
            <ray>
                <scan display="true">
                    <horizontal>
                        <samples>500</samples>
                        <resolution>1.0</resolution>
                        <min_angle>-1.0</min_angle>
                        <max_angle>0.0</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>3</samples>
                        <resolution>1</resolution>
                        <min_angle>-${15*M_PI/180.0}</min_angle>
                        <max_angle>${15*M_PI/180.0}</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>10.0</max>
                    <resolution>0.1</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="v3_2_gazebo_laser" filename="libgazebo_ros_laser.so">
                <robotNamespace>/test_robot</robotNamespace>
                <gaussianNoise>0.005</gaussianNoise>
                <alwaysOn>true</alwaysOn>
                <updateRate>20</updateRate>
                <topicName>/v3_laser2_scan</topicName>
                <frameName>v3_laser2</frameName>
            </plugin>
        </sensor>
    </gazebo>
</robot>