<?xml version="1.0" ?>
<robot name="test_robot_body" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- 圆柱体惯性计算 -->
    <xacro:macro name="cylinder_inertial_matrix" params="m r h">
        <inertial>
            <mass value="${m}"/>
            <inertia ixx="${m*(3*r*r+h*h)/12}" ixy="0" ixz="0"
                     iyy="${m*(3*r*r+h*h)/12}" iyz="0"
                     izz="${m*r*r/2}"/>
        </inertial>
    </xacro:macro>

    <!-- 立方体惯性计算 -->
    <xacro:macro name="Box_inertial_matrix" params="m l w h">
        <inertial>
            <mass value="${m}"/>
            <inertia ixx="${m*(h*h + l*l)/12}" ixy="0" ixz="0"
                     iyy="${m*(w*w + l*l)/12}" iyz="0"
                     izz="${m*(w*w + h*h)/12}"/>
        </inertial>
    </xacro:macro>

    <!-- 车轮重量 -->
    <xacro:property name="wheel_mass" value="0.01" />

    <!-- dummy base -->
    <link name="base"/>
    <!-- 车架 -->
    <link name="base_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0.055"/>
            <geometry>
                <box size="0.25 0.16 0.02"/>
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0.055"/>
            <geometry>
                <box size="0.25 0.16 0.05"/>
            </geometry>
        </collision>
        <xacro:Box_inertial_matrix m="1" l="0.25" w="0.16" h="0.02"/>
    </link>
    <!-- 左桥 -->
    <link name="left_bridge">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.005 0.01 0.003"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.005 0.01 0.003"/>
            </geometry>
        </collision>
        <xacro:Box_inertial_matrix m="0.1" l="0.005" w="0.01" h="0.003"/>
    </link>
    <!-- 左前轮 -->
    <link name="left_front_wheel">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.025"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.025"/>
            </geometry>
        </collision>
        <xacro:cylinder_inertial_matrix m="${wheel_mass}" r="0.025" h="0.02"/>
    </link>
    <!-- 右桥 -->
    <link name="right_bridge">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.005 0.01 0.003"/>
            </geometry>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.005 0.01 0.003"/>
            </geometry>
        </collision>
        <xacro:Box_inertial_matrix m="0.1" l="0.005" w="0.01" h="0.003"/>
    </link>
    <!-- 右前轮 -->
    <link name="right_front_wheel">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.025"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.025"/>
            </geometry>
        </collision>
        <xacro:cylinder_inertial_matrix m="${wheel_mass}" r="0.025" h="0.02"/>
    </link>
    <!-- 左后轮 -->
    <link name="left_back_wheel">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.025"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.025"/>
            </geometry>
        </collision>
        <xacro:cylinder_inertial_matrix m="${wheel_mass}" r="0.025" h="0.02"/>
    </link>
    <!-- 右后轮 -->
    <link name="right_back_wheel">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.025"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.025"/>
            </geometry>
        </collision>
        <xacro:cylinder_inertial_matrix m="${wheel_mass}" r="0.025" h="0.02"/>
    </link>
    <!-- RGB相机 -->
    <link name="camera">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size=".005 .03 .03"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size=".005 .03 .03"/>
            </geometry>
        </collision>
        <xacro:Box_inertial_matrix m="0.01" l="0.005" w="0.03" h="0.03"/>
    </link>

    <link name="imu">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size=".005 .03 .03"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size=".005 .03 .03"/>
            </geometry>
        </collision>
        <xacro:Box_inertial_matrix m="0.01" l="0.005" w="0.03" h="0.03"/>
    </link>

    <!-- v16雷达 -->
    <link name="v16_laser">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.03"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.03"/>
            </geometry>
        </collision>
        <xacro:cylinder_inertial_matrix m="0.01" r="0.01" h="0.03"/>
    </link>
    <!-- v3雷达1 -->
    <link name="v3_laser1">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.03"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.03"/>
            </geometry>
        </collision>
        <xacro:cylinder_inertial_matrix m="0.01" r="0.01" h="0.03"/>
    </link>
    <!-- v3雷达2 -->
    <link name="v3_laser2">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.03"/>
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <cylinder radius="0.01" length="0.03"/>
            </geometry>
        </collision>
        <xacro:cylinder_inertial_matrix m="0.1" r="0.01" h="0.03"/>
    </link>

    <!-- 设置base到车架的joint -->
    <joint name="base2base_link" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="base"/>
        <child link="base_link"/>
    </joint>
    <!-- 设置车架到左桥的joint -->
    <joint name="base_link2left_bridge" type="revolute">
        <parent link="base_link"/>
        <child link="left_bridge"/>
        <origin rpy="0 0 1.57075" xyz="0.080 0.060 0.018"/>
        <axis xyz="0 0 -1"/>
        <limit effort="2.5" lower="-0.785" upper="0.785" velocity="0.1"/>
    </joint>
    <!-- 设置左桥到左前轮的joint -->
    <joint name="left_bridge2wheel" type="continuous">
        <axis xyz="0 0 1"/>
        <parent link="left_bridge"/>
        <child link="left_front_wheel"/>
        <origin rpy="0 1.57075 0" xyz="0.02 0 0"/>
        <limit effort="100" velocity="100"/>
    </joint>
    <!-- 设置车架到右桥的joint -->
    <joint name="base_link2right_bridge" type="revolute">
        <parent link="base_link"/>
        <child link="right_bridge"/>
        <origin rpy="0 0 1.57075" xyz="0.080 -0.060 0.018"/>
        <axis xyz="0 0 -1"/>
        <limit effort="2.5" lower="-0.785" upper="0.785" velocity="0.1"/>
    </joint>
    <!-- 设置右桥到右前轮的joint -->
    <joint name="right_bridge2wheel" type="continuous">
        <axis xyz="0 0 1"/>
        <parent link="right_bridge"/>
        <child link="right_front_wheel"/>
        <origin rpy="0 1.57075 0" xyz="-0.02 0 0"/>
        <limit effort="100" velocity="100"/>
    </joint>
    <!-- 设置车架到左后轮的joint -->
    <joint name="base_link2left_back_wheel" type="continuous">
        <axis xyz="0 0 1"/>
        <parent link="base_link"/>
        <child link="left_back_wheel"/>
        <origin rpy="0 1.57075 1.57075" xyz="-0.08 0.08 0.018"/>
        <limit effort="100" velocity="100"/>
    </joint>
    <!-- 设置车架到右后轮的joint -->
    <joint name="base_link2right_back_wheel" type="continuous">
        <axis xyz="0 0 1"/>
        <parent link="base_link"/>
        <child link="right_back_wheel"/>
        <origin rpy="0 1.57075 1.57075" xyz="-0.08 -0.08 0.018"/>
        <limit effort="100" velocity="100"/>
    </joint>
    <!-- 设置base_link到RGB相机的joint -->
    <joint name="base_link2camera" type="fixed">
        <parent link="base_link"/>
        <child link="camera"/>
        <origin xyz="0.115 0 0.08"/>
    </joint>

    <joint name="base_link2imu" type="fixed">
        <parent link="base_link"/>
        <child link="imu"/>
        <origin xyz="0.0 0 0.08"/>
    </joint>
    <!-- 设置base_link到v16雷达的joint -->
    <joint name="base_link2v16_laser" type="fixed">
        <parent link="base_link"/>
        <child link="v16_laser"/>
        <origin xyz="-0.115 0 0.08"/>
    </joint>
    <!-- 设置base_link到v3雷达1的joint -->
    <joint name="base_link2v3_laser1" type="fixed">
        <parent link="base_link"/>
        <child link="v3_laser1"/>
        <origin xyz="0.115 0.08 0.08"/>
    </joint>
    <!-- 设置base_link到v3雷达2的joint -->
    <joint name="base_link2v3_laser2" type="fixed">
        <parent link="base_link"/>
        <child link="v3_laser2"/>
        <origin xyz="0.115 -0.08 0.08"/>
    </joint>
</robot>
