<?xml version="1.0"?>
<launch>

    <!-- this is a sub launch file of model0_gazebo_control.launch -->
    <!-- load joint controller parameter file -->
    <rosparam file="$(find yt_robot_gazebo)/config/joint_state.yaml" command="load"/>

    <!-- load controller -->
    <node name="joint_controller_spawner"
          pkg="controller_manager" 
          type="spawner" 
          respawn="false"
          output="screen" 
          ns="/yt_robot" 
          args="joint_state_controller"/>  

    <!-- run the robot_state_publisher node, publish TF -->
    <!-- <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="robot_state_publisher"
          respawn="false"
          output="screen">
        <remap from="/joint_states" to="/yt_robot/joint_states" />
    </node> -->
</launch>
