<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ackermann_robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.11536 -0.0050636 0.1461"
        rpy="0 0 0" />
      <mass
        value="34.018" />
      <inertia
        ixx="3.8058"
        ixy="-0.00019032"
        ixz="-0.000784"
        iyy="1.9958"
        iyz="-0.00080284"
        izz="4.5866" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_bridge">
    <inertial>
      <origin
        xyz="1.71418435002124E-13 0.07900000000001 -1.20898805033853E-06"
        rpy="0 0 0" />
      <mass
        value="0.7533696262941" />
      <inertia
        ixx="0.00228501716215165"
        ixy="-2.12208964491608E-17"
        ixz="1.02466998380926E-20"
        iyy="0.000501838342315157"
        iyz="1.3144091618611E-17"
        izz="0.00228501716215165" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/left_bridge.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/left_bridge.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link2left_bridge"
    type="revolute">
    <origin
      xyz="0.7 0.283 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_bridge" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="150"
      velocity="1" />
  </joint>
  <link
    name="left_front_wheel">
    <inertial>
      <origin
        xyz="2.09412809706322E-05 2.20933540129309E-06 -0.0308322175026052"
        rpy="0 0 0" />
      <mass
        value="3.66233771518346" />
      <inertia
        ixx="0.0789777800725264"
        ixy="2.95439715359758E-06"
        ixz="-1.02359008252007E-07"
        iyy="0.0789667065114899"
        iyz="8.42566900023524E-08"
        izz="0.13936110940375" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/left_front_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/left_front_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_bridge2wheel"
    type="continuous">
    <origin
      xyz="0 0.14700000000001 0"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="left_bridge" />
    <child
      link="left_front_wheel" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="200"
      velocity="100" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_bridge">
    <inertial>
      <origin
        xyz="4.21884749357559E-15 -0.0699988768549989 -1.20898800398672E-06"
        rpy="0 0 0" />
      <mass
        value="0.7533696262941" />
      <inertia
        ixx="0.00228501716215165"
        ixy="2.51493253015754E-18"
        ixz="6.14052357849946E-21"
        iyy="0.000501838342315157"
        iyz="-3.69933417903367E-20"
        izz="0.00228501716215165" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/right_bridge.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/right_bridge.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link2right_bridge"
    type="revolute">
    <origin
      xyz="0.7 -0.283 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_bridge" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="150"
      velocity="1" />
  </joint>
  <link
    name="right_front_wheel">
    <inertial>
      <origin
        xyz="-7.0782560877003E-06 1.69440860526282E-05 0.0255710768182847"
        rpy="0 0 0" />
      <mass
        value="3.66233875709436" />
      <inertia
        ixx="0.0789667134216851"
        ixy="-2.95885602606404E-06"
        ixz="1.91242482969035E-08"
        iyy="0.0789777741060583"
        iyz="8.45939356175032E-08"
        izz="0.139361109527994" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/right_front_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/right_front_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_bridge2wheel"
    type="continuous">
    <origin
      xyz="0 -0.137998876854999 0"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="right_bridge" />
    <child
      link="right_front_wheel" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="200"
      velocity="100" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="left_back_wheel">
    <inertial>
      <origin
        xyz="1.20651397037541E-05 7.66702450072376E-06 -0.0319648097239131"
        rpy="0 0 0" />
      <mass
        value="4.29303086541313" />
      <inertia
        ixx="0.0809641396114637"
        ixy="1.04841600258E-06"
        ixz="-1.44419441559218E-06"
        iyy="0.0809739431323507"
        iyz="-1.06090719035025E-06"
        izz="0.136684093360126" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/left_back_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/left_back_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link2left_back_wheel"
    type="continuous">
    <origin
      xyz="-0.7 0.42 0"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="left_back_wheel" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="200"
      velocity="100" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_back_wheel">
    <inertial>
      <origin
        xyz="1.20820484976747E-05 9.21585617641441E-06 0.0319656910851379"
        rpy="0 0 0" />
      <mass
        value="4.29303425414798" />
      <inertia
        ixx="0.0809726460985627"
        ixy="6.44908045002841E-06"
        ixz="1.63565016374505E-06"
        iyy="0.0809695956499148"
        iyz="1.07924678686048E-06"
        izz="0.136688093281897" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/right_back_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/right_back_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link2right_back_wheel"
    type="continuous">
    <origin
      xyz="-0.7 -0.42 0"
      rpy="1.5708 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="right_back_wheel" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="200"
      velocity="100" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="v3_laser1">
    <inertial>
      <origin
        xyz="-0.000361225398806231 2.85766622143413E-07 -0.0107368239446819"
        rpy="0 0 0" />
      <mass
        value="0.231447907084966" />
      <inertia
        ixx="0.000148241054327453"
        ixy="4.32060349634224E-09"
        ixz="-1.90168514768504E-06"
        iyy="0.000153361311623963"
        iyz="1.6119818030809E-09"
        izz="0.000138198675573988" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/v3_laser1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/v3_laser1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link2v3_laser1"
    type="fixed">
    <origin
      xyz="1.1054 0.47486 0.48263"
      rpy="0 0 0.7854" />
    <parent
      link="base_link" />
    <child
      link="v3_laser1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="v3_laser2">
    <inertial>
      <origin
        xyz="-0.000362150031453456 1.39652408507555E-07 -0.0107376024957997"
        rpy="0 0 0" />
      <mass
        value="0.231440210741203" />
      <inertia
        ixx="0.000148243516038"
        ixy="5.03660442512924E-09"
        ixz="-1.9018728968781E-06"
        iyy="0.000153360330839167"
        iyz="1.54362816568134E-09"
        izz="0.000138200026215348" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/v3_laser2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/v3_laser2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link2v3_laser2"
    type="fixed">
    <origin
      xyz="0.86426 0.0005 0.96122"
      rpy="0 0.7854 0" />
    <parent
      link="base_link" />
    <child
      link="v3_laser2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="v3_laser3">
    <inertial>
      <origin
        xyz="-0.000361223938170951 2.88154043071032E-07 -0.0107368243593007"
        rpy="0 0 0" />
      <mass
        value="0.231447921030966" />
      <inertia
        ixx="0.00014824107195428"
        ixy="4.30340668296518E-09"
        ixz="-1.90168254358978E-06"
        iyy="0.000153361317074451"
        iyz="1.61605194826313E-09"
        izz="0.000138198696967615" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/v3_laser3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/v3_laser3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link2v3_laser3"
    type="fixed">
    <origin
      xyz="-1.1054 -0.47486 0.27463"
      rpy="0 0 -2.3562" />
    <parent
      link="base_link" />
    <child
      link="v3_laser3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="v16_laser">
    <inertial>
      <origin
        xyz="-0.00244486329735083 -3.97325861827657E-14 0.00130590946111764"
        rpy="0 0 0" />
      <mass
        value="0.737681470017988" />
      <inertia
        ixx="0.000925063835022186"
        ixy="-3.98264932376364E-15"
        ixz="-5.64611580185198E-05"
        iyy="0.00112839587978525"
        iyz="8.02312997596725E-15"
        izz="0.00122599514535256" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/v16_laser.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/v16_laser.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link2v16_laser"
    type="fixed">
    <origin
      xyz="0.7 0 1.3079"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="v16_laser" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="IMU">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/IMU.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ackermann_robot/meshes/IMU.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_link2IMU"
    type="fixed">
    <origin
      xyz="0.4806 0 0.414901208988048"
      rpy="3.14159265358979 0 0" />
    <parent
      link="base_link" />
    <child
      link="IMU" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>